@media only screen and (max-width: 320px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}
/*----les grande ecrans dans les pcs  ------*/
@media only screen and (min-width: 1440px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}

/*-------les grands phones ------*/

@media only screen and (max-width: 760px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}

/*-----les normale phones ----*/


/*pour telephone*/
@media screen and (max-width: 480px) {
    
    body{
        position: relative;
        background-image:url('pics/bg.png');
        background-size: cover;
        
    } 
    }
    .logo{
        position: relative;
        left: 2%;
        top: 10px;
        width: 100px;
        height: 20px;
    }
    .identifier{
        transform: scale(0);
    }
    .language{
        transform: scale(0);
    }
    option{
        transform: scale(0);
    }
    .mode{
        transform: scale(0);
    
    }
    
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-top: 2%;
        margin-left: 25%;
        text-align: center;
        font-size: 30px;
        width: 50%;
    
    }
    .body h4{
        color: white;
        margin-left: 25%;
        text-align: center;
        width: 50%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        position: absolute;
        left: 15%;
    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 13px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;
    
    
    }
    /*----les ecrans en 1024px et plus-----*/
@media only screen and (min-width: 1024px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}
        
/*------les tablettes ------*/

@media only screen and (min-width: 768px) and (max-width:1024px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}

/*---- 1920px et plus */
@media only screen and (min-width: 1920px){
    
    body{
        position: relative;
    
        background-image:url('pics/bg.png');
        background-size: cover;
        
    }
    *{
        font-weight: 700;

    }
    .landing_page{
    }
    .head_content{
        position: relative;
        right: 10%;
    }
    .logo{
        position: relative;
        left: 15%;
        top: 50px;
    }
    .identifier{
        background-color: transparent;
        color: white;
        float: right;
        padding: 10px 30px;
        border-radius: 5px;
        border: 1px solid #00567F;
        font-size: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 1s;
        cursor: pointer;
    }
    .identifier:hover{
        background-color: #00567F;
        color: white;
    }
    .language{

        background-color: #000000a0;
        color: white;
        float: right;
        right: 1%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s ;
    }
    .language:hover{
        background-color: #00567F;
        color: white;
    }
    option{
        background-color: black;
        color: white;
        text-align: center;
    }
    option:hover{
        background-color: #00567F;
    }
    .mode{
        background-color: transparent;
        color: white;
        float: right;
        right: 2%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 0.5px solid #00567F;
        position: relative;
        transition: 1s;

    }
    .mode:hover{
        background-color: #00567F;
    }
    .body{
        font-weight: bolder;
        background: linear-gradient(360deg,#B24900, #00567F ); /* Gradient */
        -webkit-background-clip: text; /*Pour masquer la partie arrière du texte */
        -webkit-text-fill-color: transparent; /* Pour rendre le texte transparent et ne montrer que le gradient */
    }
    .body h1{
        color: white;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        font-size: 50px;
        width: 35%;

    }
    .body h4{
        color: white;
        margin-left: 35%;
        text-align: center;
        width: 35%;
        margin-top: -1%;
    }
    .body p{
        color: white;
        margin-top: -1%;
        margin-left:20%;
        font-size: 20px;
        text-align: center;
    }
    .inscrit{
        margin-left: 33%;

    }
    .email{
        background-color: transparent;
        width: 30%;
        text-align: center;
        padding: 20px 40px;
        border: 1px solid #B24900;
        border-radius: 5px;
    }
    .email:focus{
        background: transparent;
        color: white;
        border: 1px solid #B24900;
    }
    .commencer{
        background: transparent;
        color: #B24900;
        border: 1px solid #B24900;
        padding: 20px 40px;
        font-size: 15px;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
        
    }
    .commencer:hover{
        background-color: #B24900;
        color: white;
    }
    footer h3{
        color: white;
        font-family:cursive;
        float: right;
        position:relative;
        top: 80px;
        color: #B24900;


    }
    
}